@import "variables";
@import "containers";
@import "media";
@import "nav";
@import "cover";
@import "section_points";
@import "section_news";
@import "section_team";
@import "section_benefits";
@import "section_contact";

html,
body {
  height: 100%;
  color: #333;
}
body {
  position: relative;
}